.hide-side-bar{
  max-width: 0%!important;
}

.show-side-bar{
  background: #000;
  color: #fff;
  min-height: 100%;
  transition: all 2s ease;
}

.search-text-field{
  margin-top: 10px!important;
}

.add-note-btn{
  margin-top: 10px!important;
  font-size: 15px!important;
  font-weight: 600!important;
}